* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    109.6deg,
    rgb(236, 241, 234) 11.2%,
    rgb(244, 249, 244) 100.3%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

input {
  background-color: rgb(56, 60, 90);
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 20px;
  border: none;
  font-family: inherit;
  text-align: center;
}

input::placeholder {
  color: whitesmoke;
}

input:focus {
  outline: none;
}

.card {
  background: linear-gradient(
    109.6deg,
    rgb(56, 60, 90) 30.2%,
    rgb(218, 224, 104) 100.3%
  );
  display: flex;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  max-width: 800px;
}

.avatar {
  border-radius: 50%;
  border: 5px solid rgb(108, 118, 68);
  height: 160px;
  width: 160px;
}

.user-info {
  margin-left: 2rem;
  color: whitesmoke;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 200px;
  list-style: none;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-right: 50px;
}

.repo {
  background-color: rgb(56, 60, 90);
  display: inline-block;
  color: whitesmoke;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 0.7rem;
  border-radius: 4px;
}
